<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Post Title</mat-label>
        <input
          type="text"
          name="title"
          required
          minlength="3"
          matInput
          [ngModel]="post?.title"
          #title="ngModel"
        />
        <mat-error *ngIf="title.invalid">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Post Content</mat-label>
        <textarea
          name="content"
          required
          matInput
          [ngModel]="post?.content"
          #content="ngModel"
        ></textarea>
        <mat-error *ngIf="content.invalid">
          Content is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit" color="accent">
        {{ mode == "create" ? "Save" : "Update" }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
